@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Bold.ttf')  format('truetype'),
       url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype'),
	  url('../fonts/OpenSans-Light.ttf')  format('truetype'),
	  url('../fonts/OpenSans-Regular.ttf')  format('truetype'),
	  url('../fonts/OpenSans-Semibold.ttf')  format('truetype');
}

* {
	-webkit-user-select: none;
}

body, html {
	width: 250px;
	height: 250px;
	-webkit-font-smoothing: antialiased;
}

#content {
	-webkit-app-region: drag;
	height: 255px;
	width: 255px;
	border: 0;
	margin: 2px;
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
}

img.qrCode {
	height: 255px;
	width: 255px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 0;
}

#qrCode {
	z-index: 1;
}

#hover {
	height: 294px;
	width: 300px;
	z-index: 2;
	top: 7px;
	left: -15px;
	margin: 0;
	padding: 0;
	position: absolute;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: url("../../images/background.png");
	background-size: cover;
	opacity: 0;
	transition: opacity 0.6s;
	display: flex;
	align-items: center;
	transition-delay: 0.4s;
}

#content:hover #hover, #content.hover #hover {
	opacity: 1;
	transition-delay: 0s;
}

button {
	-webkit-app-region: no-drag;
	float: right;
	width: 85px;
  	height: 22px;
	font-family: 'Source Sans Pro';
	background-color: #015679;
	color: #ffffff;
	outline: 0;
	font-size: 13.75px;
	font-weight: 400;
	margin-right: -180px;
	margin-top: 52px;
	border: 0;
	transition: margin-right 0.4s 0.05s, opacity 0.3s 0.05s, background-color 0.3s 0s, color 0.3s 0s;
	opacity: 0;
}

#content:hover button, #content.hover button {
	margin-right: -114px;
	transition: margin-right 0.4s 0.4s, background-color 0.3s 0s, color 0.3s 0s;
	opacity: 1;
}

button:hover {
	background-color: #0ba2dd;
	color: #ffffff;
}

button:active {
	background-color: #323233;
	color: #ffffff;
}

h1 {
	font-size: 22px;
	font-family: 'Source Sans Pro';
	color: #464648;
	line-height: 1;
	font-weight: 700;
	float: right;
	margin-top: 33px;
	margin-right: -36px;
	width: 180px;
	text-align: right;
	transition: margin-right 0.4s, opacity 0.3s;
	transition-delay: 0.15s;
	opacity: 0;
}

#content:hover h1, #content.hover h1 {
	margin-right: 30px;
	transition: margin-right 0.4s;
	transition-delay: 0.2s;
	opacity: 1;
}

h2 {
	font-size: 12px;
	font-family: 'Source Sans Pro';
	color: #464648;
	line-height: 0.875;
	text-align: center;
	font-weight: 300;
	float: right;
	width: 145px;
	margin-right: -38px;
	margin-top: -10px;
	transition: margin-right 0.4s, opacity 0.3s;
	transition-delay: 0.1s;
	opacity: 0;
}

#content:hover h2, #content.hover h2 {
	margin-right: 28px;
	transition: margin-right 0.4s;
	transition-delay: 0.3s;
	opacity: 1;
}

h2 a {
	font-size: 12.35px;
	font-family: 'Source Sans Pro';
	color: #464648;
	line-height: 0.875;
	text-align: right;
	text-decoration: underline;
	transition: text-decoration 0.3s;
	font-weight: 200;
	-webkit-app-region: no-drag;
}

h2 a:hover {
	text-decoration: none !important;
}

h3 {
	font-size: 9.6px;
	font-family: 'Source Sans Pro';
	color: #464648;
	line-height: 1.286;
	font-weight: 400;
	float: right;
	margin-left: 95px;
	margin-top: 248px;
	position: absolute;
	width: 180px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.1s;
	opacity: 0;
}

#content:hover h3, #content.hover h3 {
	margin-left: 29px;
	transition: margin-left 0.4s;
	transition-delay: 0.3s;
	opacity: 1;
}

p {
	font-family: 'Source Sans Pro';
}

#leftContainer {
	height: 190px;
	width: 99px;
	background-image: url("../../images/leftContainer.png");
	background-size: cover;
	position: absolute;
	left: -275px;
	top: 38px;
	transition: 0.5s all;
	transition-delay: 0.3s;
	opacity: 0;
}

#content:hover #leftContainer, #content.hover #leftContainer {
	left: 25px;
	transition-delay: 0.5s;
	transition: 0.5s left;
	opacity: 1;
}

#rightContainer {
	height: 275px;
	width: 212px;
	background-image: url("../../images/rightContainer.png");
	background-size: contain;
	position: absolute;
	right: -300px;
	top: 1px;
	transition: 0.5s all;
	transition-delay: 0.3s;
	opacity: 0;
}

#content:hover #rightContainer, #content.hover #rightContainer {
	right: 0;
	transition-delay: 0.5s;
	transition: 0.5s right;
	opacity: 1;
}

#presentEmblem, #lateEmblem, #absentEmblem {
	width: 45px;
	height: 45px;
}

::-webkit-scrollbar { 
    display: none; 
}

#logo {
	z-index: 9999999;
	width: 51px;
	height: 45px;
	margin-top: 68px;
	margin-left: -60px;
	transition: all 0.3s;
	transition-delay: 0.1s;
	opacity: 0;
}

#content:hover #logo, #content.hover #logo {
	margin-left: 12px;
	transition: margin-left 0.3s;
	transition-delay: 0.3s;
	opacity: 1;
}

#presence * {
	position: absolute;
}

#presentEmblem, #lateEmblem, #absentEmblem {
	margin-top: 188px;
}

#presentEmblem {
	margin-left: 96px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.15s;
	opacity: 0;
}

#content:hover #presentEmblem, #content.hover #presentEmblem {
	margin-left: 30px;
	transition: margin-left 0.4s;
	transition-delay: 0.2s;
	opacity: 1;
}

#lateEmblem {
	margin-left: 154px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.1s;
	opacity: 0;
}

#content:hover #lateEmblem, #content.hover #lateEmblem {
	margin-left: 88px;
	transition: margin-left 0.4s;
	transition-delay: 0.3s;
	opacity: 1;
}

#absentEmblem {
	margin-left: 212px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.05s;
	opacity: 0;
}

#content:hover #absentEmblem, #content.hover #absentEmblem {
	margin-left: 146px;
	transition: margin-left 0.4s;
	transition-delay: 0.4s;
	opacity: 1;
}

#presentCount , #lateCount, #absentCount {
	margin-top: 199px;
	z-index: 999999999;
	color: #ffffff;
	font: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 500;
	width: 45px;
	text-align: center;
}

#presentCount {
	margin-left: 96px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.15s;
	opacity: 0;
}

#content:hover #presentCount, #content.hover #presentCount {
	margin-left: 30px;
	transition: margin-left 0.4s;
	transition-delay: 0.2s;
	opacity: 1;
}

#lateCount {
	margin-left: 154px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.1s;
	opacity: 0;
}

#content:hover #lateCount, #content.hover #lateCount {
	margin-left: 88px;
	transition: margin-left 0.4s;
	transition-delay: 0.3s;
	opacity: 1;
}

#absentCount {
	margin-left: 212px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.05s;
	opacity: 0;
}

#content:hover #absentCount, #content.hover #absentCount {
	margin-left: 146px;
	transition: margin-left 0.4s;
	transition-delay: 0.4s;
	opacity: 1;
}

#presentText, #lateText, #absentText {
	margin-top: 175px;
	z-index: 999999999;
	font: 'Source Sans Pro';
	width: 45px;
	text-align: center;
	font-weight: 500;
}

#presentText {
	margin-left: 96px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.15s;
	opacity: 0;
}

#content:hover #presentText, #content.hover #presentText {
	margin-left: 30px;
	transition: margin-left 0.4s;
	transition-delay: 0.2s;
	opacity: 1;
}

#lateText {
	margin-left: 154px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.1s;
	opacity: 0;
}

#content:hover #lateText, #content.hover #lateText {
	margin-left: 88px;
	transition: margin-left 0.4s;
	transition-delay: 0.3s;
	opacity: 1;
}

#absentText {
	margin-left: 212px;
	transition: margin-left 0.4s, opacity 0.3s;
	transition-delay: 0.05s;
	opacity: 0;
}

#content:hover #absentText, #content.hover #absentText {
	margin-left: 146px;
	transition: margin-left 0.4s;
	transition-delay: 0.4s;
	opacity: 1;
}

#qrCode {
	opacity: 1;
	transition: 0.3s opacity;
}

#qrCode.hide {
	opacity: 0;
}

.hide {
	opacity: 0;
}